body{
  background-color:#FDF4F5;
  position:relative;
}
.container{
  width:100vw;
  height:100vh;
}
.wrapper{
  text-align:center;
  background-color: #Fff;
  width:40%;
  position:absolute;
  top:20%;
  left:50%;
  transform:translate(-50%,0);
  box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:50px 0 10px 0;
}
.wrapper h1{
  font-size:50px;
  padding:50px;
  color:#BA90C6;
  font-weight: bold;
}
.wrapper .field{
  width:80%;
  height:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
.wrapper .field input[type="text"]{
  width:80%;
  height:30px;
  outline: none;
  border:3px solid #E8A0BF;
  border-radius: 5px;
  padding:0 10px;
}
.wrapper .field input[type="submit"]{
  width:15%;
  height:35px;
  font-size:18px;
  border:none;
  background-color: #BA90C6;
  border-radius: 5px;
  color:#fff;
  cursor: pointer;
  transition:background-color, .2s;
}
.wrapper .field input[type="submit"]:hover{
  background-color:#66347F ;
}
.wrapper ul{
  width:80%;
  margin-top:20px;
  flex-grow:1;
}
.wrapper ul li{
  padding:15px 10px;
  line-height:30px;
  display:flex;
  justify-content: space-between;
}
.wrapper li > div{
  display:flex;
  align-items: center;
}
.wrapper li .delete{
  font-size:25px;
  color:#ED2B2A;
  cursor: pointer;
}
.wrapper li .edit{
  font-size:22px;
  color:#38E54D;
  padding-right:7px;
  padding-bottom:2px;
  cursor: pointer;
}
.wrapper .clear{
  padding:40px 0;
  color:#C21010;
  font-weight: bold;
  cursor: pointer;
}